*
{
    margin: 0px;
    padding: 0px;
    background-color:#292929;
}
p{
    font-size: 1.2em;
}
header
{
	text-align: left;
	padding: 2em;
    margin:0 auto;
    background-color:#969696;
}
nav ul 
{
    background-color: #282828;
    

}
nav ul span:hover
{
    color: #969696;
}


/*colores:
#b18bbc moradito
 #82c59c verde
#969696 gris
#292929 negro */