*
{
    margin: 0px;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.534);
}
p{
    font-size: 1.2em;
}
header
{
	text-align: left;
	padding: 2em;
    max-width:1160px;
    margin:0 auto;
}
header img{
    width: 200px;
}
nav ul 
{
    background-color: #282828;

}